.idea/
*.iml
*.log
*.tmp
bundle/target/
web/target/
server/paramtrifacta-server.iml
web/src/assets/ultimang/
web/src/app/page-test/
web/src/app/page-test2/
web/src/app/trifacta/
web/src/app/trifacta.service.ts
web/src/app/hive-ref/
web/src/app/hdfs-ref/
web/src/app/fileupload/fileupload.ts
server/src/main/resources/hubic.properties
web2/
web/src/app/http-hive-import.service.ts
web/package-lock.json
server/src/main/java/org/fer/syncfiles/services/HubicTestPassword.java
