.idea/
*.iml
swiftexplorer-settings.xml
common/target
server/target
authenticate/target
org.fer.syncfiles.model.Param
org.fer.syncfiles.model.FileInfo
cache
cache2
*.log
target
cacheOrig
param_*.json
base_param_*.json
cacheServeur
cacheLocal
build
authenticate/.gradle
authenticate/gradle
client/.gradle
client/gradle
common/.gradle
common/gradle
gradle
server/.gradle
.gradle
classes
data
jmserver/src/main/webapp/bower_components/
server/src/main/webapp/bower_components/
client/.settings/org.eclipse.core.resources.prefs
jmserver/src/test/java/org/fer/syncfiles/service/syncfiles/HubicTestPassword.java
dbSyncFiles.lck
jmserver/src/main/resources/config/hubicAuthenticate.properties
client-angular2/.DS_Store
client-angular2/node_modules/
jmserver/src/main/java/org/fer/syncfiles/HubicTestPassword.java
syncfiles/web/src/assets/ultimang/
syncfiles/web/src/app/page-test/
syncfiles/web/src/app/page-test2/
syncfiles/web/src/app/trifacta/
syncfiles/web/src/app/trifacta.service.ts
syncfiles/web/src/app/hive-ref/
syncfiles/web/src/app/hdfs-ref/
syncfiles/web/src/app/fileupload/fileupload.ts
syncfiles/server/src/main/resources/hubic.properties
syncfiles/web2/
syncfiles/web/src/app/http-hive-import.service.ts
