<!--<div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-4 col-md-offset-4">-->
            <!--<h1 translate="login.title">Authentication</h1>-->

            <!--<div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">-->
                <!--<strong>Authentication failed!</strong> Please check your credentials and try again.-->
            <!--</div>-->
            <!--<form class="form" role="form">-->
                <!--<div class="form-group">-->
                    <!--<label for="username" translate="global.form.username">Login</label>-->
                    <!--<input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="password" translate="login.form.password">Password</label>-->
                    <!--<input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"-->
                           <!--ng-model="password">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary" ng-click="login()" translate="login.form.button">Authenticate</button>-->
            <!--</form>-->
            <!--<p></p>-->
            <!--<div class="alert alert-warning" translate="global.messages.info.register">-->
                <!--You don't have an account yet? <a href=\"#/register\">Register a new account</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div layout="column">
    <div layout="row">
        <div flex="20" hide-sm>

        </div>
        <div flex>
            <md-content class="md-padding">
                <form name="userForm">
                    <div layout="row" layout-align="center center">
                        <h1 translate="login.title">Authentication</h1>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label translate="global.form.username">Login</label>
                            <input ng-model="username" placeholder="Votre nom d'utilisateur">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label translate="login.form.password">Password</label>
                            <input type="password" ng-model="password" placeholder="Votre mot de passe">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-click="login()" translate="login.form.button">Authenticate</md-button>
                    </div>
                    <div layout="column" layout-fill style="margin-top: 20px">
                        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" style="padding: 20px">
                            <span>You don't have an account yet? <a href="#/register">Register a new account</a></span>
                        </md-whiteframe>
                    </div>
                </form>
            </md-content>
        </div>
        <div flex="20" hide-sm>

        </div>
    </div>
</div>

<script type="text/ng-template" id="auth-error.html">
    <md-toast>
        <span flex><strong>Erreur d'authentification !</strong> Veuillez vérifier vos droits d'accès avant de recommencer.</span>
        <md-button ng-click="closeToast()">
            Fermer
        </md-button>
    </md-toast>
</script>
