<h1 *ngIf="syncFilesinfo==null || syncFilesinfo===undefined">Synchronization is not running</h1>
<div *ngIf="syncFilesinfo!=null" >
    <h2>{{syncFilesinfo.type}} - {{syncFilesinfo.paramSyncFiles.name}}
        (
            <span *ngIf="syncFilesinfo.running">Running</span>
            <span *ngIf="!syncFilesinfo.running">Stopped</span>
        )</h2>
    <div>Start execution job at {{syncFilesinfo.startDate | date:"dd/MM/yyyy HH:mm:ss"}}</div>
    <div>Last updated execution job at {{syncFilesinfo.lastStateDate | date:"dd/MM/yyyy HH:mm:ss"}}</div>
    <br/>
  <p-progressBar *ngIf="syncFilesinfo.running" [value]="syncFilesinfo.percentWork" [showValue]="true" [unit]="'%'"></p-progressBar>
  <br clear="true" *ngIf="syncFilesinfo.running"/>

    <p-panel *ngIf="syncFilesinfo.msgError!=null" [header]="'Error : '+syncFilesinfo.msgError" [toggleable]="true" [collapsed]="true" styleClass="header-error">
        <code>
            {{syncFilesinfo.msgErrorStackTrace}}
        </code>
    </p-panel>
    <br *ngIf="syncFilesinfo.msgError!=null"/>
    <!-- running -->
    <p-dataTable *ngIf="syncFilesinfo.type!='Restore'" [value]="syncFilesinfo.resumeNumber" [responsive]="true">
        <header>Analyse files</header>
        <p-column field="title" header=""></p-column>
        <p-column field="numberOfFiles" header="Total of files">
            <template let-sync="rowData" pTemplate="body">
                <a (click)="showRunningInfos(syncFilesinfo.id, sync.index)" class="menu-button" href="">
                    <span *ngIf="sync.index<2">{{sync.numberOfFiles-sync.numberOfDeletedFiles}}</span>
                    <span *ngIf="sync.index>=2">{{sync.numberOfFiles}}</span>
                </a>
            </template>
        </p-column>
        <p-column field="numberOfNewFiles" header="New files"></p-column>
        <p-column field="numberOfUpdatedFiles" header="Updated files"></p-column>
        <p-column field="numberOfDeletedFiles" header="Deleted files"></p-column>
    </p-dataTable>

    <br/>

    <p-panel header="Last synchronization messages..." [toggleable]="true" [collapsed]="false">
        <synchro-simple-msg [msgList]="syncFilesinfo.lastMsgList"></synchro-simple-msg>
    </p-panel>
</div>

