<form ngForm="searchForm">  
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <!-- Left Side -->
            <div class="card card-w-title">
                <h1>Search By</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12 sf-line-space">
                        <input-debounce delay="500" placeholder="File name" (value)="searchChanged($event)"></input-debounce>
                    </div>

                    <div class="ui-g-2 sf-line-space">
                        <label>Search period</label>
                    </div>
                    <div class="ui-g-4 sf-line-space">
                        <p-calendar readonlyInput="true" (onSelect)="dateChange($event)" [(ngModel)]="startDate" placeholder="Begin date" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2030" dateFormat="dd/mm/yy" name="startDate"></p-calendar>
                    </div>
                    <div class="ui-g-1 sf-line-space">
                        <button type="button" icon="ui-icon-minus" pButton (click)="removeStartDate()"></button>
                    </div>
                    <div class="ui-g-4 sf-line-space">
                        <p-calendar readonlyInput="true" (onSelect)="dateChange($event)" [(ngModel)]="endDate" placeholder="End date" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2030" dateFormat="dd/mm/yy" name="endDate"></p-calendar>
                    </div>
                    <div class="ui-g-1 sf-line-space">
                        <button type="button" icon="ui-icon-minus" pButton (click)="removeEndDate()"></button>
                    </div>

                    <div class="ui-g-2 sf-line-space" *ngIf="originFile=='SYNCHRO'">
                        <label>Sync. state</label>
                    </div>
                    <div class="ui-g-10 sf-line-space" *ngIf="originFile=='SYNCHRO'">
                        <p-multiSelect [options]="synchroStateAction" [(ngModel)]="selectedSynchroStateAction" name="syncStateAction" (onChange)="changeSyncStateAction($event)"></p-multiSelect>
                    </div>

                    <div class="ui-g-2 sf-line-space">
                        <label>Action on file</label>
                    </div>
                    <div class="ui-g-10 sf-line-space">
                        <p-multiSelect [options]="fileInfoAction" [(ngModel)]="selectedInfoAction" name="fileInfoAction" (onChange)="changeFileInfoAction($event)"></p-multiSelect>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>  
<p-dataTable [value]="infosList?.fileInfoList" [lazy]="true" [rows]="numberRowPerPages" [paginator]="true" 
            [totalRecords]="infosList?.totalElements" (onLazyLoad)="loadLazyInfos($event)" 
            [responsive]="true" [stacked]="stacked" >
    <header>Files</header>
    <p-column styleClass="name-list" field="relativePathString" header="Name">
        <template let-col let-fileInfo="rowData" pTemplate type="body">
            <div style="font-size : 80%">{{getPath(fileInfo.relativePathString)}}</div>
            <div><span [pTooltip]="fileInfo.relativePathString" tooltipPosition="right">{{getName(fileInfo.relativePathString)}}</span></div>
        </template>
    </p-column>
    <p-column styleClass="size-action" field="fileInfoAction" header="To Do">
        <template let-col let-fileInfo="rowData" pTemplate type="body">
            {{fileInfoActionMap[fileInfo.fileInfoAction]}}
        </template>
    </p-column>
    <p-column *ngIf="originFile=='SYNCHRO'" styleClass="size-action" field="syncState" header="Synchro. state">
        <template let-col let-fileInfo="rowData" pTemplate type="body">
            {{syncStateActionMap[fileInfo.syncState]}}
        </template>
    </p-column>
    <p-column styleClass="size-list" field="size" header="Size">
        <template let-col let-fileInfo="rowData" pTemplate type="body">
            {{fileInfo.size | number:'1.0'}}
        </template>
    </p-column>
    <p-column styleClass="date-list" field="lastModifiedTime" header="Last Modified Time">
        <template let-col let-fileInfo="rowData" pTemplate type="body">
            {{fileInfo.lastModifiedTime | date:"dd/MM/yyyy HH:mm:ss"}}
        </template>
    </p-column>
</p-dataTable>