<p-tabView (onChange)="onChange($event)" >
    <p-tabPanel header="General" leftIcon="ui-icon-settings" [selected]="tabName=='general'">
       <synchro-detail-edit (syncFilesInfo)="changeSyncFileInfo($event)"></synchro-detail-edit>
    </p-tabPanel>
    <p-tabPanel header="Last Execution" leftIcon="ui-icon-import-export" [selected]="tabName=='execution'">
       <div class="ui-g ui-fluid" *ngIf="id!=null && (syncFilesinfo==null || !syncFilesinfo.running)">
            <div class="ui-g-6">
              <button *ngIf="syncFilesinfo==null || !syncFilesinfo.simulation" pButton type="button" (click)="startSimulation()" label="Start new simulation"></button>
              <button *ngIf="syncFilesinfo!=null && syncFilesinfo.simulation" pButton type="button" (click)="synchronizeAfterSimulation()" label="Synchronize after simulation"></button>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" (click)="startSynchro()" label="Start new synchronization"></button>
            </div>
       </div>
        <synchro-detail-run *ngIf="tabName=='execution'" [syncFilesinfo]="syncFilesinfo"></synchro-detail-run>
    </p-tabPanel>
    <p-tabPanel header="Restore" leftIcon="ui-icon-import-export" [selected]="tabName=='restore'">
      <synchro-detail-restore *ngIf="tabName=='restore'" (onChange)="changeLocalPath($event)"></synchro-detail-restore>
    </p-tabPanel>
</p-tabView>
