<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showBottomSheet()" style="position: fixed">
    <md-icon md-svg-src="/assets/svg/cog2.svg"></md-icon>
</md-button>
<div layout="column">
    <div layout="row">
        <div flex="10" hide-sm>

        </div>
        <div flex>
            <md-content class="md-padding">
                <form name="userForm">
                    <!--<div layout="row" layout-align="center center">-->
                        <!--<h1>Détail de la synchronisation : {{param.name}}</h1>-->
                    <!--</div>-->
                    <div layout="row">
                        <md-input-container flex>
                            <label>Nom</label>
                            <input ng-model="param.name" placeholder="Nom du paramétrage">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Scheduling (Cron. exp.)</label>
                            <input ng-model="param.cronExp" placeholder="Cron expression de synchronisation du paramétrage">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Répertoire NAS</label>
                            <input ng-model="param.masterDir" placeholder="Entrer le répertoire du NAS">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Répertoire Hubic</label>
                            <input ng-model="param.slaveDir" placeholder="Entrer le répertoire de hubic">
                        </md-input-container>
                    </div>
                    <md-toolbar class="md-theme-light">
                        <div layout="row" layout-align="center center">
                            <div flex="80">
                                <md-switch class="md-toolbar-tools" ng-model="param.includeDir" aria-label="Répertoires à inclure, si désactivé à exclure">
                                    <span hide-gt-md>Répertoire à inclure,</span>
                                    <span hide-gt-md style="font-size: 14px"><br/>si désactivé à exclure</span>
                                    <span hide-sm hide-md>Répertoire à inclure, si désactivé à exclure</span>
                                </md-switch>
                            </div>
                            <div flex style="text-align: right;padding-right: 15px; padding-top: 8px; padding-bottom: 8px;">
                                <md-button ng-click="addDir()" class="md-fab md-primary" aria-label="Profile" style="text-align: center">
                                    <md-icon md-svg-src="/assets/svg/folder-plus.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>

                    </md-toolbar>
                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="s">
                        <md-content class="md-default-theme" style="width: 100%">
                            <md-list>
                                <md-item ng-repeat="dir in includeExcludePatterns track by $index">
                                    <md-item-content>
                                        <div class="md-tile-content">
                                            <div layout="row">
                                                <md-input-container flex>
                                                    <label>&nbsp;</label>
                                                    <input type="text" ng-model="dir.value" placeholder="Entrer un répertoire">
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="md-tile-right" style="padding-right: 16px;">
                                            <section layout="row" layout-sm="column" layout-align="center center">
                                                <md-button ng-click="removeDir($index)" class="md-fab md-primary" aria-label="Profile" style="text-align: center">
                                                    <md-icon md-svg-src="/assets/svg/folder-minus.svg"></md-icon>
                                                </md-button>
                                            </section>
                                        </div>
                                    </md-item-content>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-item>
                            </md-list>
                        </md-content>
                    </md-whiteframe>

                    <!--<div layout="row" layout-align="center center" style="margin-top: 15px">-->
                        <!--<md-button class="md-raised" ui-sref="param">Retour au paramétrage</md-button>-->
                    <!--</div>-->
                </form>
            </md-content>
        </div>
        <div flex="10" hide-sm>

        </div>
    </div>
</div>

<script type="text/ng-template" id="param-detail-bottom-menu.html">
    <md-bottom-sheet class="md-list md-has-header" style="background: white;">
        <md-subheader>Actions disponibles</md-subheader>
        <md-list>
            <md-item>
                <md-button aria-label="Sauvegarde" ng-click="clickAction('save')">
                    <!-- Using custom inline icon until md-icon is ready. DONT USE ME! -->
                    <md-icon md-svg-src="/assets/svg/database-check.svg"></md-icon>
                    <span class="md-inline-list-icon-label">Sauvegarde</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button aria-label="Annuler" ng-click="clickAction('cancel')">
                    <!-- Using custom inline icon until md-icon is ready. DONT USE ME! -->
                    <md-icon md-svg-src="/assets/svg/database-arrow.svg"></md-icon>
                    <span class="md-inline-list-icon-label">Annuler les modifications</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button aria-label="Simuler" ng-click="clickAction('simulation')">
                    <!-- Using custom inline icon until md-icon is ready. DONT USE ME! -->
                    <md-icon md-svg-src="/assets/svg/undo.svg"></md-icon>
                    <span class="md-inline-list-icon-label">Simuler</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button aria-label="Prévisualiser" ng-click="clickAction('preview')">
                    <!-- Using custom inline icon until md-icon is ready. DONT USE ME! -->
                    <md-icon md-svg-src="/assets/svg/shutter.svg"></md-icon>
                    <span class="md-inline-list-icon-label">Prévisualiser le résultat de la simulation</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button aria-label="Synchroniser" ng-click="clickAction('sync')">
                    <!-- Using custom inline icon until md-icon is ready. DONT USE ME! -->
                    <md-icon md-svg-src="/assets/svg/loop3.svg"></md-icon>
                    <span class="md-inline-list-icon-label">Synchroniser</span>
                </md-button>
            </md-item>
        </md-list>
    </md-bottom-sheet>
</script>
<!--<div>-->
    <!--<h2><span translate="synfilessbApp.param.detail.title">Param</span> {{param.id}}</h2>-->
    <!--<div class="table-responsive">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th translate="entity.detail.field">Field</th>-->
                    <!--<th translate="entity.detail.value">Value</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="synfilessbApp.param.name">Name</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" class="input-sm form-control" value="{{param.name}}" readonly>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="synfilessbApp.param.cronExp">CronExp</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" class="input-sm form-control" value="{{param.cronExp}}" readonly>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="synfilessbApp.param.masterDir">MasterDir</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" class="input-sm form-control" value="{{param.masterDir}}" readonly>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="synfilessbApp.param.slaveDir">SlaveDir</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" class="input-sm form-control" value="{{param.slaveDir}}" readonly>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="synfilessbApp.param.includeDir">IncludeDir</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" class="input-sm form-control" value="{{param.includeDir}}" readonly>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<button type="submit"-->
            <!--ui-sref="param"-->
            <!--class="btn btn-info">-->
        <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
    <!--</button>-->
<!--</div>-->
