<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showBottomSheet()" style="position: fixed">
    <md-icon md-svg-src="/assets/svg/cog2.svg"></md-icon>
</md-button>
<!--{{mergedPageDir[0] | json}}-->
<md-content id="scroll" resize="5">
    <section>
        <md-subheader class="md-primary">
            <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="showArbo('')">
                <md-icon md-svg-src="/assets/svg/stack-text.svg" style="color: greenyellow;"></md-icon>
            </md-button>
            <span ng-repeat="path in pathList">
                / <span style="cursor: pointer" ng-click="changeFullDir(path.fullPath)">{{path.name}}</span>
            </span>
            <div layout="row" style="font-size: 12px">
                <div flex style="font-size: 14px">
                </div>
                <div flex="15" hide-sm hide-md>
                    Origine
                </div>
                <div flex="10" hide-sm hide-md>
                    Action
                </div>
                <div flex="15" hide-sm hide-md>
                    Der. Date modif.
                </div>
                <div flex="15" hide-sm hide-md>
                    Taille (octets)
                </div>
            </div>
        </md-subheader>
        <md-divider></md-divider>
        <md-list layout="column" ng-repeat="mergeFileDir  in mergeDir">
            <md-item>
                <md-item-content >
                    <div class="md-tile-content" style="padding-top: 0px;padding-bottom: 2px;">
                        <div layout="row"  layout-align="left center" style="font-size: 12px">
                            <div flex>
                                <span ng-if="isDirectory(mergeFileDir)" >
                                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="showArbo(mergeFileDir.fileName)">
                                        <md-icon md-svg-src="/assets/svg/stack-text.svg" style="color: greenyellow;"></md-icon>
                                    </md-button>
                                    <a style="cursor: pointer" ng-click="changeDir(mergeFileDir.fileName)">{{mergeFileDir.fileName}}</a>
                                </span>
                                <span ng-if="!isDirectory(mergeFileDir)">{{mergeFileDir.fileName}}</span>
                                <div layout="row" hide-lg hide-gt-lg layout-align="center center">
                                    <div flex="20">
                                    </div>
                                    <div flex="40">
                                        <div style="font-style: italic">Source</div>
                                    </div>
                                    <div flex="40">
                                        <div style="font-style: italic">Destination</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg hide-gt-lg>
                                    <div flex="20">
                                        <div style="font-style: italic">Action</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.sourceFileInfo.fileInfoAction}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.targetFileInfo.fileInfoAction}}</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg hide-gt-lg >
                                    <div flex="20">
                                        <div style="font-style: italic">Der. Modif.</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg hide-gt-lg >
                                    <div flex="20">
                                        <div style="font-style: italic">Taille</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.sourceFileInfo.size}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.targetFileInfo.size}}</div>
                                    </div>
                                </div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{getOrigin(mergeFileDir)}}</div>
                            </div>
                            <div flex="10" hide-sm hide-md>
                                <div>{{mergeFileDir.sourceFileInfo.fileInfoAction}}</div>
                                <div>{{mergeFileDir.targetFileInfo.fileInfoAction}}</div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{mergeFileDir.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div>{{mergeFileDir.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{mergeFileDir.sourceFileInfo.size}}</div>
                                <div>{{mergeFileDir.targetFileInfo.size}}</div>
                            </div>
                        </div>
                        <!--<p style="line-height: 1">-->
                            <!--<br/>-->
                            <!--&lt;!&ndash;{{mergeFileInfo.sourceFileInfo | json}}&ndash;&gt;-->
                        <!--<div>{{mergeFileInfo.sourceFileInfo.fileInfoAction}}</div>-->
                        <!--<div>{{mergeFileInfo.targetFileInfo.fileInfoAction}}</div>-->
                        <!--<div>{{mergeFileInfo.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>-->
                        <!--<div>{{mergeFileInfo.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>-->
                        <!--<div>{{mergeFileInfo.sourceFileInfo.size}}</div>-->
                        <!--<div>{{mergeFileInfo.targetFileInfo.size}}</div>-->
                        <!--</p>-->
                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>
        </md-list>
    </section>
</md-content>


<script type="text/ng-template" id="param-detail-bottom-menu.html">
    <md-bottom-sheet class="md-has-header md-grid" style="background: white;">
        <md-subheader>Filtres :</md-subheader>
        <div layout="row">
            <md-input-container flex>
                <label>Filtre sur le fichier complet</label>
                <input ng-model="filter.name" placeholder="Entrer un filtre sur le fichier complet">
            </md-input-container>
        </div>
        <div layout="row">
            <md-switch class="md-toolbar-tools" ng-model="filter.fileToSync">
                <span>Filtrer uniquement sur les fichiers à synchroniser</span>
            </md-switch>
        </div>
        <div layout="row" layout-align="space-around center">
                <md-button ng-click="clickAction('ok')" class="md-grid-item-content">
                    <md-icon md-svg-src="/assets/svg/database-check.svg"></md-icon>
                    <div class="md-grid-text">Filtrer</div>
                </md-button>
                <md-button ng-click="clickAction('cancel')" class="md-grid-item-content">
                    <md-icon md-svg-src="/assets/svg/database-arrow.svg"></md-icon>
                    <div class="md-grid-text">Annuler</div>
                </md-button>
        </div>
    </md-bottom-sheet>
</script>

<!--<md-bottom-sheet class="md-grid">-->
    <!--<md-list>-->
        <!--<md-item ng-repeat="item in items">-->
            <!--<md-button class="md-grid-item-content" ng-click="listItemClick($index)">-->
                <!--<md-icon md-svg-src="{{item.icon}}"></md-icon>-->
                <!--<div class="md-grid-text"> {{ item.name }} </div>-->
            <!--</md-button>-->
        <!--</md-item>-->
    <!--</md-list>-->
<!--</md-bottom-sheet>-->