<!--#{{mergeDir[0] | json}}#-->
<md-content id="scroll" resize="5">
    <section>
        <md-subheader class="md-primary">
            <div layout="row" style="font-size: 12px">
                <div flex style="font-size: 14px">
                    Résultat à partir du noeud {{pathNode}} avec comme filtre {{pathFilter}}
                    <span ng-show="fileToSync=='true'">et les fichiers à synchroniser</span>
                </div>
                <div flex="15" hide-sm hide-md>
                    Der. Date modif.
                </div>
                <div flex="15" hide-sm hide-md>
                    Taille (octets)
                </div>
            </div>
        </md-subheader>
        <md-divider></md-divider>
        <md-list layout="column" ng-repeat="mergeFileDir  in mergeDir">
            <md-item>
                <md-item-content >
                    <div class="md-tile-content" style="padding-top: 0px;padding-bottom: 2px;">
                        <div layout="row"  layout-align="left center" style="font-size: 12px">
                            <div flex>
                                <span ng-if="isDirectory(mergeFileDir)" >
                                        <md-icon md-svg-src="/assets/svg/folder-open.svg" style="color: greenyellow;"></md-icon>
                                </span>
                                <span ng-if="!isDirectory(mergeFileDir)" >
                                        <md-icon md-svg-src="/assets/svg/file-empty.svg" style="color: greenyellow;"></md-icon>
                                </span>
                                <a style="cursor: pointer" ng-click="goToDir(mergeFileDir)">{{mergeFileDir.fullName}}</a>
                                <div layout="row" hide-lg>
                                    <div flex="20">
                                        <div style="font-style: italic">Der. Modif.</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg>
                                    <div flex="20">
                                        <div style="font-style: italic">Taille</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.sourceFileInfo.size}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileDir.targetFileInfo.size}}</div>
                                    </div>
                                </div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{mergeFileDir.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div>{{mergeFileDir.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{mergeFileDir.sourceFileInfo.size}}</div>
                                <div>{{mergeFileDir.targetFileInfo.size}}</div>
                            </div>
                        </div>
                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>
        </md-list>
    </section>
</md-content>


