<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showBottomSheet()" style="position: fixed">
    <md-icon md-svg-src="/assets/svg/cog2.svg"></md-icon>
</md-button>
<md-content id="scroll"  resize="5">
    <section ng-repeat="mergeFileDir  in mergeDir">
        <md-subheader class="md-primary">
            <div layout="row" style="font-size: 12px">
                <div flex style="font-size: 14px">
                    {{mergeFileDir.dir}}
                </div>
                <div flex="15" hide-sm hide-md>
                    Origine
                </div>
                <div flex="10" hide-sm hide-md>
                    Action
                </div>
                <div flex="15" hide-sm hide-md>
                    Der. Date modif.
                </div>
                <div flex="15" hide-sm hide-md>
                    Taille (octets)
                </div>
            </div>
        </md-subheader>
        <md-divider></md-divider>
        <md-list layout="column">
            <md-item ng-repeat="mergeFileInfo in mergeFileDir.mergedFileInfoJsonList">
                <md-item-content >
                    <div class="md-tile-content" style="padding-top: 0px;padding-bottom: 2px;">
                        <div layout="row"  layout-align="left center" style="font-size: 12px">
                            <div flex>
                                {{mergeFileInfo.fileName}}
                                <div layout="row" hide-lg layout-align="center center">
                                    <div flex="20">
                                    </div>
                                    <div flex="40">
                                        <div style="font-style: italic">Source</div>
                                    </div>
                                    <div flex="40">
                                        <div style="font-style: italic">Destination</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg>
                                    <div flex="20">
                                        <div style="font-style: italic">Action</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileInfo.sourceFileInfo.fileInfoAction}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileInfo.targetFileInfo.fileInfoAction}}</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg>
                                    <div flex="20">
                                        <div style="font-style: italic">Der. Modif.</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileInfo.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileInfo.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                </div>
                                <div layout="row" hide-lg>
                                    <div flex="20">
                                        <div style="font-style: italic">Taille</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileInfo.sourceFileInfo.size}}</div>
                                    </div>
                                    <div flex="40">
                                        <div>{{mergeFileInfo.targetFileInfo.size}}</div>
                                    </div>
                                </div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{getOrigin(mergeFileInfo)}}</div>
                            </div>
                            <div flex="10" hide-sm hide-md>
                                <div>{{mergeFileInfo.sourceFileInfo.fileInfoAction}}</div>
                                <div>{{mergeFileInfo.targetFileInfo.fileInfoAction}}</div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{mergeFileInfo.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div>{{mergeFileInfo.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                            <div flex="15" hide-sm hide-md>
                                <div>{{mergeFileInfo.sourceFileInfo.size}}</div>
                                <div>{{mergeFileInfo.targetFileInfo.size}}</div>
                            </div>
                        </div>
                        <!--<p style="line-height: 1">-->
                            <!--<br/>-->
                            <!--&lt;!&ndash;{{mergeFileInfo.sourceFileInfo | json}}&ndash;&gt;-->
                        <!--<div>{{mergeFileInfo.sourceFileInfo.fileInfoAction}}</div>-->
                        <!--<div>{{mergeFileInfo.targetFileInfo.fileInfoAction}}</div>-->
                        <!--<div>{{mergeFileInfo.sourceFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>-->
                        <!--<div>{{mergeFileInfo.targetFileInfo.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>-->
                        <!--<div>{{mergeFileInfo.sourceFileInfo.size}}</div>-->
                        <!--<div>{{mergeFileInfo.targetFileInfo.size}}</div>-->
                        <!--</p>-->
                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>
        </md-list>
    </section>
</md-content>


<script type="text/ng-template" id="param-detail-bottom-menu.html">
    <md-bottom-sheet class="md-has-header md-grid" style="background: white;">
        <md-subheader>Filtres sur les données locales :</md-subheader>
        <div layout="row">
            <md-input-container flex>
                <label>Filtre sur répertoire</label>
                <input ng-model="filter.dir" placeholder="Filtrer sur répertoire">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Filtre sur fichier</label>
                <input ng-model="filter.file" placeholder="Filtrer sur fichier">
            </md-input-container>
        </div>
        <div layout="row">
            <md-switch class="md-toolbar-tools" ng-model="filter.fileToSync">
                <span>Filtrer uniquement sur les fichiers à synchroniser</span>
            </md-switch>
        </div>
        <div layout="row" layout-align="space-around center">
                <md-button ng-click="clickAction(filter)" class="md-grid-item-content">
                    <md-icon md-svg-src="/assets/svg/database-check.svg"></md-icon>
                    <div class="md-grid-text">Filtrer</div>
                </md-button>
                <md-button ng-click="clickAction('cancel')" class="md-grid-item-content">
                    <md-icon md-svg-src="/assets/svg/database-arrow.svg"></md-icon>
                    <div class="md-grid-text">Annuler</div>
                </md-button>
        </div>
    </md-bottom-sheet>
</script>

<!--<md-bottom-sheet class="md-grid">-->
    <!--<md-list>-->
        <!--<md-item ng-repeat="item in items">-->
            <!--<md-button class="md-grid-item-content" ng-click="listItemClick($index)">-->
                <!--<md-icon md-svg-src="{{item.icon}}"></md-icon>-->
                <!--<div class="md-grid-text"> {{ item.name }} </div>-->
            <!--</md-button>-->
        <!--</md-item>-->
    <!--</md-list>-->
<!--</md-bottom-sheet>-->