    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <!-- Left Side -->
            <div class="card card-w-title" *ngIf="syncFilesinfo==null || syncFilesinfo.length==0">
                <h1>Synchronization is not running</h1>
            </div>

            <p-accordion *ngIf="syncFilesinfo!=null && syncFilesinfo.length>0" mul>
                <p-accordionTab [selected]="ongletIndex==i" (onOpen)="onTabActivate($event)" *ngFor="let sync of syncFilesinfo; let i = index">
                    <p-header>
                        {{sync.type}} - {{sync.paramSyncFiles.name}}
                        (
                            <span *ngIf="sync.running">Running</span>
                            <span *ngIf="!sync.running">Stopped</span>
                        )
                    </p-header>
                    <synchro-detail-run [syncFilesinfo]="sync"></synchro-detail-run>
                </p-accordionTab>
            </p-accordion>

        </div>
    </div>

<br/>


